<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/themes.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-laptop.css" />
</head>
<body>
    <header class="bg-amarillo main-header">
    <div class="main-header-top-bar">
    <img src="\images\logo-mercado-liebre.svg" alt="mercado liebre" class="logo"></div>
<p >Lugar para poner barra de busqueda <i class="fas fa-search"></i> </p> 
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de credito
        </h2>
<nav class="main-header-nav-bar main-header-nav-bar a main-header-nav-bar ul barra" >
        <ul class="left-nav-bar" >
          <li><a href="/productos">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-nav-bar">
          <li><a href="/register">Crea tu cuenta</a> <i class="far fa-id-card"></i></li>
          <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
          <li><a href="#">Mis Compras</a> </a> <i class="fas fa-shopping-basket"></i></li>
        </ul>
      </nav>
<div class="burger-menu hamburger-button">
<i class="fas fa-bars"></i>
</div>
</header>
<img
      src="/images/img-home-banner.jpg"
      alt="Promoción fiestas"
      width="100%"
    />
<main class="w-90 m-center bg-gris-claro">
<section class="fx fx-wrap mt-16">
    <h2 class="font-big w-100">Basado en tu última visita</h2> 
<article class="sombra bg-blanco"><img src="\images\img-cafetera-moulinex.jpg" width="100%" alt="cafetera">
<div class="p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center">
    <p><i class="fas fa-truck truck-icon rotation"></i></p>
    <p class="font-med">$6.770</p>
<p class="font-small">40% OFF</p>
<h3 class="font-small w-100 product-title">Cafetera Moulinex</h3>
</div>
</article>
<article class="sombra bg-blanco"><img src="\images\img-macbook-pro-2019.jpg" width="100%" alt="compu">
<div class="p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center">
   <p><i class="fas fa-truck truck-icon rotation"></i></p>
    <p class="font-med">$230.000</p>
<p class="font-small">20% off</p>
<h3 class="font-small w-100">MacBook Pro 2019</h3>
</div>
</article>
<article class="sombra bg-blanco"><img src="\images\img-samsung-galaxy-s10.jpg" width="100%" alt="celular">
<div class="p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center">
   <p><i class="fas fa-truck truck-icon rotation"></i></p>
    <p class="font-med">$70.500</p>
<p class="font-small">10% off</p>
<h3 class="font-small w-100">Samsung Galaxy S10</h3>
</div>
</article>
<article class="sombra bg-blanco"><img src="\images\img-tv-samsung-smart.jpg" width="100%" alt="tv">
<div class="p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center">
    <p><i class="fas fa-truck truck-icon rotation"></i></p>
    <p class="font-med">$23.200</p>
<p class="font-small">5% off</p>
<h3 class="font-small w-100">SmartTv Samsung 43"</h3>
</div>
</article>
</section>
<section>
    <h2 class="font-big">Ofertas</h2>
<article class="sombra bg-blanco"><img src="\images\img-cafetera-moulinex.jpg" width="100%" alt="cafetera">
<div class="p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center">
   <p><i class="fas fa-truck truck-icon rotation"></i></p>
    <p class="font-med">$6.770</p>
<p class="font-small">40% off</p>
<h3 class="font-small w-100">Cafetera Moulinex</h3>
</div class="p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center">
</article>
<article class="sombra bg-blanco"><img src="\images\img-macbook-pro-2019.jpg" width="100%" alt="compu">
<div class="p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center">
    <p><i class="fas fa-truck truck-icon rotation"></i></p>
    <p class="font-med">$230.000</p>
<p class="font-small">20% off</p>
<h3 class="font-small w-100">MacBook Pro 2019</h3></div></article>
<article class="sombra bg-blanco"><img src="\images\img-samsung-galaxy-s10.jpg" width="100%" alt="celular">
<div class="p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center">
    <p><i class="fas fa-truck truck-icon rotation"></i></p>
    <p class="font-med">$70.500</p>
<p class="font-small">10% off</p>
<h3 class="font-small w-100">Samsung Galaxy S10</h3></div></article>
<article class="sombra bg-blanco"><img src="\images\img-tv-samsung-smart.jpg" width="100%" alt="tv">
<div class="p-relative b-top-1 border-light-grey fx fx-wrap fx-align-center">
    <p><i class="fas fa-truck truck-icon rotation"></i></p>
    <p>$23.200</p>
<p class="font-small">5% off</p>
<h3 class="font-small w-100">SmartTv Samsung 43"</3>
</div>
</article>
</section>
</main>
<footer>
    <section>
    <article class="text-center">
    ><h2>
        <i class="fas fa-credit-card celeste"></i>
        <p class="font-text">Pagá con tarjeta o en efectivo</p>
    </h2>
<p class="font-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p></article>
<article class="text-center"><h2>
    <i class="fas fa-gift celeste "></i>
    <p class="font-text">Envío gratis desde $ 2.500</p></h2>
<p class="font-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos</p>.</article>
<article class="text-center"><h2>
    <i class="fas fa-user-shield celeste" ></i>
    <p class="font-text">Seguridad, de principio a fin</p></h2>
<p class="font-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p></article>
</section>
<section>
    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></section>
</footer>
</footer>  

    
</body>
</html>