<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/utils.css" />

  <link rel="stylesheet" href="/css/themes.css" />
   <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/styles-tablet.css" />
  <link rel="stylesheet" href="/css/styles-laptop.css" />
</head>
<body>
     <header class="bg-amarillo main-header">
    <div class="main-header-top-bar">
    <div class="fx fx-wrap fx-align-center p-relative"><img src="\images\logo-mercado-liebre.svg" alt="mercado liebre" class="logo"></div>
<form  action="#" method="GET">
    <label for="buscar" class="hide">Lugar para poner barra de busqueda</label>
<input type="text" name="buscar" placeholder="Barra de busqueda"> <i class="fas fa-search"></i></form></div>
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de credito
        </h2>
<nav class="main-header-nav-bar main-header-nav-bar a main-header-nav-bar ul barra fx flx-wrap" >
        <ul class="left-nav-bar fx flx-wrap" >
          <li><a href="/productos">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-nav-bar fx flx-wrap">
          <li><a href="/register">Crea tu cuenta</a> <i class="far fa-id-card"></i></li>
          <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
          <li><a href="#">Mis Compras</a> </a> <i class="fas fa-shopping-basket"></i></li>
        </ul>
      </nav>
<div class="burger-menu hamburger-button">
<i class="fas fa-bars"></i>
</div>
</header>
<main class="bg-light-grey">
   <form action="register.html" method="POST" class="creat-form form-field">
    <div class="control-form"> <label for="NombreCompleto"> Nombre y apellido:</label>
      <input type="text" name="Nombre" placeholder="Nombre y Apellido" class="control">
      </input></div>
    <div class="control-form"><label for="NombreUsuario"> Nombre de usuario:</label>
      <input type="text" name="NombreUsuario" placeholder="Nombre de Usuario" class="control">
      </input></div>
    <div class="control-form"><label for="FechaNacimiento"> Fecha de nacimiento:</label>
      <input type="date" name="FechaNacimiento" placeholder="mm/dd/yy" class="control">
      </input></div>
    <div class="control-form"><label for="Domicilio"> Domicilio:</label>
      <input type="text" name="Domicilio" placeholder="Domicilio" class="control">
      </input></div>
    <div class="control-form"><label for="PerfilUsuario"> Perfil del usuario:</label></div>
      <div><label for="Comprador"> Comprador:</label>
          <input type="radio" name="Comprador" value="Comprador">
        </input></div>
      <div class="control-form"><label for="Vendedor"> Vendedor:</label>
          <input type="radio" name="Vendedor" value="Vendedor">
          </input></div>
    <div class="control-form"><label for="Intereses"> Intereses:</label></div>
         <div><label for="Electro"> Electro:</label>
          <input type="checkbox" name="Electro" value="Electro">
          </input></div>
         <div><label for="Moda"> Moda:</label>
            <input type="checkbox" name="Moda" value="Moda">
            </input></div>
         <div><label for="hogar"> Hogar:</label>
            <input type="checkbox" name="hogar" value="hogar">
            </input></div>
         <div><label for="juguteria"> Jugueteria:</label>
            <input type="checkbox" name="jugueteria" value="jugueteria">
            </input></div>
         <div><label for="vidasana"> Vida Sana:</label>
              <input type="checkbox" name="vidasana" value="vidasana">
              </input></div>
<div>
  <div> <label for="fotoperfil"> Foto usuario:</label>
    <input type="file" name="fotoperfil" placeholder="fotoperfil">
    </input></div>
</div>
<div class="control-form"> <label for="contrasenia"> Contraseña:</label>
  <input type="password" name="contrasenia" placeholder="contraseña" class="control">
  </input></div>
  <div>
      <botton type="submit" class="botton-form">Guardar</botton>
      <botton type="reset" class="botton-form">Borrar</botton>
    </div>
  
  </form>
      </main>
</body>
</html>