@media (min-width: 769px) {
  .product-title {
    /* visibility: collapse; */
    display: none;
  }
  .product {
    box-shadow: none;
  }
   .w-desktop-25 {
    width: 25%;
  }
  .product-title:hover.product-title{
      display:block;
  }
  .main-headder-top-bar{
    max-width: 1200px;
    margin: auto;
    align-items:center;
}

.main-headder-top-bar li{
    margin:0 10px;
}

.main-headder-top-bar a{
    font-size:19px;

}

.main-headder-nav-bar{
    margin-top:50px;
    max-width:1200px;
    margin:auto;
}

.logo{ 
    width:250px;
}

.copy-headder{
    max-width: none;
    font-size: 18px;
    font-weight: 400;
    margin:0;
}
.hamburger-button {
    display:none;
}
.main-header-nav-bar{
    max-width: 1200px;
    margin: auto;
    margin-top:50px;
}
.main-header-nav-bar a {
    font-size: 17px;
}
.main-header-nav-bar li{
    margin: 0 10px;
}
.barra{
    display:flex;
}

 .left-nav-bar {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: left;
  }

  .right-nav-bar {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: right;
  }
.footer{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
}
.w-33{
    width:33%;
}
}
